/vendor
/node_modules
.env
.DS_Store
/storage/app/public/*
/storage/framework/cache/data/*
!/storage/app/public/.gitkeep
!/storage/framework/cache/data/.gitkeep
!/storage/framework/sessions/.gitkeep
!/storage/framework/views/.gitkeep
!/storage/logs/.gitkeep
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
!/storage/framework/sessions/.gitkeep
!/storage/framework/views/.gitkeep
!/storage/logs/.gitkeep
/bootstrap/cache/
/public/storage
